html,
body {
  height: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-image: url("images/main-home-bg.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  padding-left: 11px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
}

.main {
  display: flex;
  flex-direction: column;
  height: 90%;
  justify-content: center;
  padding-left: 3%;
  padding-right: 5%;
  padding-bottom: 17px;
  margin-top: -35px;
  margin-bottom: -115px;
}

.main-about {
    display: flex;
    flex-direction: column;
    height: 90%;
    justify-content: center;
    align-items: center;
    padding-left: 3%;
    padding-right: 5%;
    padding-bottom: 17px;
    margin-top: -35px;
    margin-bottom: -115px;
    gap: 13px;
  }

.main-sub-title {
  font-family: "Lato", sans-serif;
  font-size: 23px;
  font-weight: 400;
  color: rgb(236, 82, 66);
  padding-block: 1px;
  margin: 0;
}
.main-about-sub-title {
    font-family: "Lato", sans-serif;
    font-size: 23px;
    font-weight: 400;
    color: rgb(236, 82, 66);
    padding-block: 1px;
    margin: 0;
  }

.main-title {
  font-family: "Lato", sans-serif;
  font-size: 29px;
  font-weight: 900;
  line-height: 30px;
  color: rgb(236, 82, 66);
  margin: 0;
}
.main-about-title {
    font-family: "Lato", sans-serif;
    font-size: 25px;
    font-weight: 900;
    line-height: 30px;
    text-align: center;
    color: rgb(236, 82, 66);
    margin: 0;
  }

.main-decription {
  background-color: rgb(247, 247, 247);
  border: 3px solid rgb(255, 255, 255);
  border-radius: 5px;
  width: 90%;
  padding: 20px;
  font-family: "Lato", sans-serif;
  color: rgb(111, 112, 116);
  margin-top: 10px;
  font-size: 14px;
  line-height: 23px;
}
.main-about-decription {
    background-color: rgb(255, 255, 255);
    border: 3px solid rgb(255, 255, 255);
    border-radius: 5px;
    width: 85%;
    padding: 20px;
    font-family: "Lato", sans-serif;
    color: rgb(111, 112, 116);
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
    line-height: 23px;
  }

  .main-about-desc-mid {
    background-color: rgb(255, 255, 255);
    border: 3px solid rgb(255, 255, 255);
    border-radius: 5px;
    width: 85%;
    padding-inline: 20px;
    margin: 0;
    font-family: "Lato", sans-serif;
    color: rgb(111, 112, 116);
    font-size: 14px;
    text-align: center;
    line-height: 23px;
  }

  .main-about-info {
    font-family: "Lato", sans-serif;
    font-size: 12px;
    color: rgb(111, 112, 116);
    text-align: center;
    margin-top: 15px;
    line-height: 23px;
  }
  .email a {
    color: #272a31
  }

  .my-logo {
    width: 90%;
  }

  .img-container {
    width: 90%;
    border: 1px solid rgb(198, 207, 198);
    padding: 10px;
    height: 110px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  

.schedule {
  font-family: "Lato", sans-serif;
  font-size: 25px;
  font-weight: 650;
  color: #272a31
  align-self: flex-start;
  padding-left: 3%;
  margin: 0;
}

.place {
  font-family: "Lato", sans-serif;
  font-size: 15px;
  color: rgb(111, 112, 116);
  align-self: flex-start;
  padding-left: 3%;
  font-weight: 500;
  margin: 0;
  margin-top: 3%;
}

.main-program {
  background-image: url("images/main-program-bg.jpg");
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 11px;
  padding-inline: 15px;
  padding-bottom: 9%;
}

.main-speakers {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 11px;
    padding-inline: 15px;
    background:rgb(255, 255, 255) ;
    border-bottom: 2px solid rgb(111, 112, 116);
  }

  .main-speakers-event {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 11px;
    padding-inline: 15px;
    background:rgb(255, 255, 255) ;
  }

.program-title {
  font-family: "Lato", sans-serif;
  font-weight: 510;
  color: rgb(255, 255, 255);
  text-align: center;
  padding-top: 19px;
  margin-bottom: 0;
}

.speakers-title {
    font-family: "Lato", sans-serif;
    font-weight: 510;
    color: #272a31;
    text-align: center;
    padding-top: 19px;
    margin-bottom: 0;
  }

  .speakers-title-footer {
    font-family: "Lato", sans-serif;
    font-weight: 510;
    color: #fff;
    text-align: center;
    padding-top: 19px;
    margin-bottom: 0;
  }

  .program-title-hr {
    height: 1px;
    width: 43px;
    background-color: rgb(236, 82, 66);
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25PX;
    
  }

  .main-speakers-footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 11px;
    padding-inline: 15px;
    background:#272a31 ;
    margin-top: 40px;
  }

  .program-title-hr-mid {
    height: 1px;
    width: 43px;
    background-color: rgb(236, 82, 66);
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    
  }

.event-card {
display: flex;
padding-inline: 3px;
background: #b3b3b351;
color: #fff;
gap: 3%;
padding-right: 12px;
padding-left: 12px;
height: 110px;
opacity: 0.7;
transition: all 0.25s ease;
}

.speakers-event-card {
    display: flex;
    padding-inline: 3px;
    color: #272a31;
    gap: 3%;
    height: 99px;
    margin-bottom: 15%;
    }

    .speakers-desc {
        display: flex;
        flex-direction: column;
        gap:7px;
    }
    .speaker-title-hr {
      height: 4px;
       width: 17px;
       background-color: black;
       border-radius: 10px;
       margin: 0;
    }
    .speakers-item-title {
    margin: 0;
    font-family: "Lato", sans-serif;
    font-size: 17px;
    font-weight: 700;
    color: #272a31;
    }
    .speakers-item-sub-title {
        font-family: "Lato", sans-serif;
        font-size: 12px;
        font-weight: 400;
        color: rgb(236, 82, 66);
    }
    .speakers-item-desc {
        font-family: "Lato", sans-serif;
        font-size: 13px;
       color: rgb(111, 112, 116);
        padding-top: 2px;
      
    }

    .more-speaker-button {
        display: flex;
        width: 100%;
        padding-block: 17px;
        background: #fff;
        border:1px solid rgb(111, 112, 116);
        border-radius: 5px;
        margin-bottom: 35px;
        justify-content: center;
        align-items: center;
        gap: 7px;
    }

    .speaker-img {
        width: 119px;
    }

    .speakers-item-sub-title {
        margin: 0;
    }

    .speakers-item-desc {
      margin: 0;
    }
    

.program-icon,
.program-title-card,
.program-desc {
  display: flex;
  justify-content: center;
  align-items: center;
}

.program-title-card {
    font-family: "Lato", sans-serif;
    color: rgb(248, 81, 81);
    font-weight: 650;
}

.program-desc {
    font-family: "Lato", sans-serif;
    padding: 5px;
    text-align: justify;
    font-weight: 410;
    font-size: 15px;
}

.view-button {
    font-family: "Lato", sans-serif;
    color: rgb(255, 255, 255);
    background-color: rgb(236, 82, 66);
    padding: 23px;
    align-self: center;
    text-decoration: none;
    border: 0;
    margin-top: 15px;
}

.clients {
    display: flex;
}

.client-logo {
    width: 25%;
}
